@import './base.css';

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);
}

h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    font-family: "Arial";
    font-size: 3rem;
    transform: translate(-50%, -50%);
}